# Build directories
**/bin/
**/obj/
*.cache

# VS hosting process and debug
*.vshost.*
*.pdb

# User-specific files
*.user
*.suo
*.userprefs
*.csproj.user

# Visual Studio workspace
/.vs/
.vscode/

.idea/
*.sln.iml
.DS_Store
